<!-- about.html -->
<!--<div class="jumbotron text-center">-->
    <!--<h1>About Page</h1>-->

    <!--<p>{{ about }}</p>-->
<!--</div>-->

    <div class="container">

        <div class="row">
            <div class="logo"></div>
        </div>

        <div class="about">
            <div class="about-title">
                <h4>About Us</h4>
            </div>

            <div class="section">
                <p id="text-left">
                    Are you searching for displayed data about streams and don't have a clear idea yet ?
                    Great,you are in a right place when you can discover and view dynamic graphs on different used streams.
                    <br><br>
                    StreamTEST is a space where innovative, fascinating graphs are shown, where our love and admiration of new technologies
                    of video traffic.
                </p>
                <p id="text-right">
                    Our story :
                    <br><br>
                    Our goal is to redesign the way we deliver video online, to create more robust, cost-effective infrastructures,
                    and to bring high quality video to every corner of the world.
                    With a hybrid peer-to-peer solution to video streaming, we aim to help online broadcasters improve quality of service,
                    scale to growing audiences and cut bandwidth costs by up to 70%. Market leaders in both Europe and the US,
                    Streamroot powers over 500 million video sessions every month.
                </p>
            </div>
        </div>

    </div>