<!-- home.html -->
<!--<div class="jumbotron text-center">-->
    <!--<h1>Home Page</h1>-->

    <!--<p>{{ home }}</p>-->
<!--</div>-->
<div class="container" ng-controller="MainController">
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<canvas id="radar" class="chart chart-radar"-->
                    <!--chart-data="data1" chart-options="options1" chart-labels="labels1" chart-series="series1">-->
            <!--</canvas>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-md-12">
            <canvas id="bar" class="chart chart-bar"
                    chart-data="data2" chart-options="options2" chart-labels="labels2"chart-series="series2">
            </canvas>
        </div>
    </div>
</div>