.carousel-indicators li{
    border-color: #007bb6;
}
.logo{
    height: 200px;
    background: #fff url('img/logo.png') no-repeat center /contain;
}
.about{
    margin: 45px 30px;
}
.about-title{
    text-align: center;
    margin-bottom: 20px;
}
.section{
    margin: 15px 20px;
}
p{
    display: inline-block;
    font-size: 17px;
    font-family: "Calibri Light";
}
#text-left{
    float: left;
    width: 40%;
    margin: 55px 5%;
}
#text-right {
    float: left;
    width: 40%;
    margin: 25px 5%;
}

.footer-box{
    padding-top: 1.5%;
}
.social-link li {
    display: inline-block;
    margin: 0 10px;
}
.social-link .fa {
    font-size:18px;
    padding-right:10px;
}
.social-link a:hover {
    text-decoration: none;
}
.social-link .github {
    color: black;
}
.social-link .linkedin {
    color: #007bb6;
}


